﻿@model IEnumerable<StudentGlossary.Entities.Course>
@{
    ViewData["Title"] = "Courses Admin Panel";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>
                        Admin Panel. Courses.
                    </h1>
                </div>
                <div class="panel-body">
                    @if (!Model.Any())
                    {
                        <h2>... empty!</h2>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourseId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Eap)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CourseId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eap)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="panel-footer">
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
