﻿@model WordViewModel
@{
    ViewData["Title"] = "Create Word";
}

<div class="panel panel-default">
    <div class="panel-heading"><h1>Word Creation</h1></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="GlossaryId" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Term" class="control-label"></label>
                        <input asp-for="Term" class="form-control" />
                        <span asp-validation-for="Term" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Definition" class="control-label"></label>
                        <textarea asp-for="Definition" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="Definition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

    </div>
      <div class="panel-footer">
                <a asp-action="Index">Back to List</a>
            </div>
</div>


