﻿@model StudentGlossary.Entities.Word
@{
    ViewData["Title"] = "Delete Word";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WordId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GlossaryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlossaryId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="WordId" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
