﻿@model List<WordViewModel>
    @{
        ViewData["Title"] = "My words";
    }
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>My (@User.FindFirst(x => x.Type == "Name").Value) Words</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (!Model.Any())
                    {
                        <h2 style="text-align:center">... You dont have any words!</h2>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-md-10 col-md-offset-1">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            @Html.DisplayFor(modelItem => item.Term)
                                            <div class="pull-right">
                                                @Html.ActionLink(item.GlossaryName, "View","Glossary", new { id = item.GlossaryId })
                                               
                                            </div>
                                        </div>
                                        <div class="panel-body"><b>@Html.DisplayFor(modelItem => item.Term)</b> - @Html.DisplayFor(modelItem => item.Definition)</div>
                                        <div class="panel-footer">
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                            <div class="pull-right">
                                                @Html.ActionLink("View", "View", new { id = item.WordId }) |
                                                @Html.ActionLink("Edit", "Edit", new { id = item.WordId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.WordId })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
