﻿@model WordViewModel
@{
    ViewData["Title"] = "Word View";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>@Model.Term</h2>
        <div class="pull-right">
            @Model.UserName, at @Model.CreatedAt
        </div>
    </div>
    <div class="panel-body">
        <b>@Model.Term</b>
        -
        @Model.Definition
    </div>
    <div class="panel-footer">
        @Html.ActionLink(Model.GlossaryName, "View", "Glossary", new { id = Model.GlossaryId })
        <div class="pull-right">
            @Html.ActionLink("Edit", "Edit", "Word", new { id = Model.WordId }) |
            @Html.ActionLink("View", "View", "Word", new { id = Model.WordId }) |
            @Html.ActionLink("Delete", "Delete", "Word", new { id = Model.WordId })
        </div>
    </div>
</div>