﻿
.stylish-input-group .input-group-addon {
}

body {
    background-image: url("http://designreflect.com/wp-content/uploads/2012/09/paper-textures/20-Seamless-Paper-Texture.jpg") !important;
    background-repeat: repeat;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}


div.panel {
    padding-top: 50px;
    background: transparent;
}
div.panel.panel-default{
    background: transparent;
}


div.panel-body {
    background: rgba(255,255,255,0.4);
}
div.panel-footer {
    background: rgba(255,255,255,0.4)
}

.image-logo-margin {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.radio-group label {
    overflow: hidden;
}


.radio-group input {
    /* This is on purpose for accessibility. Using display: hidden is evil.
    This makes things keyboard friendly right out tha box! */
    height: 1px;
    width: 1px;
    position: absolute;
    top: -20px;
}
h2 {
    padding-bottom: 20px!important;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    padding-top: 15px;
    left: 0;
    right: 0;
    color: #999;
    background-color: #222;
}

.jumbotron {
    background: transparent;
    
}

input.form-control {
width: 300px;
}
.btn {
    background-color: white;
    border-color:black;

}

.radio-group .not-active {
    color: #3276b1;
    background-color: #fff;
}

