﻿@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="jumbotron">
        <h2 style="padding-bottom: 20px!important">Log in</h2>

        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <a style="padding-left: 80px;"></a>
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" />
                </div>
                <div class="form-group" style="padding-bottom: 20px!important">
                    <label asp-for="Password">Password</label>
                    <a style="padding-left: 50px;"></a>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn" />
                    <input type="submit" value="Register" class="btn" asp-action="Register" asp-controller="Account" />
                </div>
            </div>

        </form>
    </div>
</div>