﻿@model RegisterModel

@{
    ViewData["Title"] = "Registration";
}

<div class="container">
    <div class="jumbotron">
        <h2>Registration</h2>
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <div>
                <div style="padding-bottom: 10px!important">
                    <label asp-for="Name">Enter your name</label><br />
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" />
                </div>
                <div style="padding-bottom: 10px!important">
                    <label asp-for="Email">Enter your email</label><br />
                    <input type="text" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" />
                </div>
                <div style="padding-bottom: 10px!important">
                    <label asp-for="Password">Enter your pasword</label><br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" />
                </div>
                <div style="padding-bottom: 10px!important">
                    <label asp-for="ConfirmPassword">Enter your pasword again</label><br />
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" />
                </div>
                <div style="padding-bottom: 30px!important">
                    <label asp-for="Role">Choose your role</label><br />
                    <input asp-for="Role" value="student" type="radio" />Student
                    <input asp-for="Role" value="teacher" type="radio" />Teacher
                    <span asp-validation-for="Role" />
                </div>
                <div>
                    <input type="submit" value="Register" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>