﻿@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Here is brief description of our work and thank you letter";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<br>
<p>Hello,</p>
<br>
<p>This page is used to store your glossaries and generetae new ones. Additionally you can add your own words to eas the performance and help others.</p>
<p>Pleas do remmeber that these words are not controled by us and we do not take claim for your work, there for we do not fix yoru mistakes.</p>
<p>We are happy that you use our service!</p>

<br>
<p>Best wishesh,</p>
<p>AJ team</p>