﻿@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "You can contact us by";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Narav broadway<br />
    Backfire streat 92, Ida-Virumaa 143920<br />
    <abbr title="Phone">Phone:</abbr>
    (+372)3253219
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@AJteam.com">Support@AJteam.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@AJteam.com">Marketing@AJteam.com</a>
</address>
