﻿@{
    ViewData["Title"] = "Lord Farquaad / Markiplier E";
    Layout = null;
}
<div class="container">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/M2j3moTJ8P0?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>