﻿@model IEnumerable<StudentGlossary.Entities.User>
@{
    ViewData["Title"] = "Users Admin Panel";
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>
                        Admin Panel. Users.
                    </h1>
                </div>
                <div class="panel-body">
                    @if (!Model.Any())
                    {
                        <h2>... empty!</h2>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { target = "_blank" }) |
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="panel-footer">
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
