﻿@model GlossaryAccessesViewModel
@{
    ViewData["Title"] = Model.Glossary.Name + " Accesses";
    var owner = int.Parse(User.FindFirst(x => x.Type == "UserId").Value);
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Glossary View</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Glossary Access Settings</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="EditPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Glossary.GlossaryId" type="hidden" />
                        <input asp-for="Glossary.Name" type="hidden" />
                        <input asp-for="Glossary.Description" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Glossary.Password" class="control-label"></label>
                            <input asp-for="Glossary.Password" class="form-control" />
                            <span asp-validation-for="Glossary.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Edit Password" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>@Model.Glossary.Name Accesses</h1>
            <div class="panel-group">
                @if (!Model.GrantedUsers.Any())
                {
                    <h2>... No users with access!</h2>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GrantedUsers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @if (item.UserId != owner)
                                        {
                                            @Html.ActionLink("Revoke", "Revoke", new { GlossaryId = Model.Glossary.GlossaryId, UserId = item.UserId })
                                        }
                                        else
                                        {
                                            @:(You)
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>