﻿@model GlossaryCreateViewModel
@{
    ViewData["Title"] = "Create Glossary";
}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Glossary Creation</h1></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Glossary.UserId" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Glossary.Name" class="control-label"></label>
                                <input asp-for="Glossary.Name" class="form-control" />
                                <span asp-validation-for="Glossary.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Glossary.CourseId" class="control-label"></label>
                                <select asp-for="Glossary.CourseId" class="form-control" asp-items="@(new SelectList(Model.Courses,"CourseId","CourseId"))"></select>
                                <span asp-validation-for="Glossary.CourseId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Glossary.Description" class="control-label"></label>
                                <textarea asp-for="Glossary.Description" class="form-control" rows="5"></textarea>
                                <span asp-validation-for="Glossary.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Glossary.Password" class="control-label"></label>
                                <input asp-for="Glossary.Password" class="form-control" />
                                <span asp-validation-for="Glossary.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>




