﻿@model GlossaryDeleteViewModel

<h3>Are you sure you want to delete this?</h3>
<h4>@Model.GlossaryName for (@Model.CourseId)@Model.CourseName</h4>
<div>
    
    <form asp-action="Delete">
        <input asp-for="CourseId" type="hidden" />
        <input asp-for="CourseName" type="hidden" />
        <input asp-for="GlossaryId" type="hidden" />
        <input asp-for="GlossaryName" type="hidden" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="My">Back to My Glossaries</a>
    </form>
</div>
