﻿@model StudentGlossary.Entities.Glossary

@{
    ViewData["Title"] = Model.Name +" details";
}


<div>
    <h4>Glossary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GlossaryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GlossaryId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.GlossaryId  }) |
    <a asp-action="Index">Back to List</a>
</div>