﻿@model GlossaryCreateViewModel

<div class="panel panel-default">
    <div class="panel-heading"><h4>Glossary Edit</h4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Glossary.GlossaryId" type="hidden" />
                    <input asp-for="Glossary.Password" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Glossary.Name" class="control-label"></label>
                        <input asp-for="Glossary.Name" class="form-control" />
                        <span asp-validation-for="Glossary.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Glossary.CourseId" class="control-label"></label>
                        <select asp-for="Glossary.CourseId" class="form-control" asp-items="@(new SelectList(Model.Courses,"CourseId","CourseId"))"></select>
                        <span asp-validation-for="Glossary.CourseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Glossary.Description" class="control-label"></label>
                        <textarea asp-for="Glossary.Description" class="form-control" rows="5"></textarea>
                        <span asp-validation-for="Glossary.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="View" asp-route-id=@Model.Glossary.GlossaryId >Back to List</a>
</div>

