﻿@using System.Security.Claims
@model IEnumerable<GlossaryListingViewModel>
    @{
        ViewData["Title"] = "My glossaries";
    }
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>
                            @User.FindFirst(x => x.Type == "Name").Value, here are Your glossaries:
                    </h1>
                </div>
                <div class="panel-body">
                    @if (!Model.Any())
                    {
                        <h2 style="text-align:center ">... empty!</h2>
                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourseId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CourseName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourseId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourseName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.ActionLink("View", "View", new { id = item.GlossaryId }) |
                                        @Html.ActionLink("Edit", "Edit", new { id = item.GlossaryId }) |
                                        @Html.ActionLink("Accesses", "Accesses", new { id = item.GlossaryId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.GlossaryId })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="panel-footer">
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
