﻿@model PasswordRequestViewModel
@{
    ViewData["Title"] = "Password Request";
}
<h3>@Model.GlossaryName password request</h3>
<div>
    <form asp-action="PasswordRequest">
        <input asp-for="GlossaryId" type="hidden" />
        <input asp-for="GlossaryName" type="hidden" />
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Enter" class="btn btn-default" />
        </div>
    </form>
</div>