﻿@model GlossaryRevokeViewModel
@{
    ViewData["Title"] = "Revoke Access";
}
<h1>Are you sure you want to revoke access?</h1>
<div>
    <hr />
    <h2>@Model.UserName (@Model.UserEmail) from @Model.GlossaryName</h2>
    <form asp-action="Revoke">
        <input asp-for="GlossaryId" type="hidden" />
        <input asp-for="GlossaryName" type="hidden" />
        <input asp-for="UserEmail" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="UserName" type="hidden" />
        <input type="submit" value="Revoke" class="btn btn-default" /> |
        <a asp-action="Accesses" asp-route-id=@Model.GlossaryId>Back to Access Management</a>
    </form>
</div>
