﻿@model GlossaryAndWordsViewModel
@{
    ViewData["Title"] = Model.Glossary.Name + " View";
    var user = int.Parse(User.FindFirst(x => x.Type == "UserId").Value);
}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Glossary View</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Model.Glossary.Name
                    <div class="pull-right">
                        @Model.Glossary.UserName, at @Model.Glossary.CreatedAt
                    </div>
                </div>
                <div class="panel-body">@Model.Glossary.Description</div>
                <div class="panel-footer">
                    @Html.ActionLink("Add New Word", "Create", "Word", new { id = Model.Glossary.GlossaryId })
                    <div class="pull-right">
                        @if (user == Model.Glossary.UserId) {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Glossary.GlossaryId }) @:|
                        @Html.ActionLink("Accesses", "Accesses", new { id = Model.Glossary.GlossaryId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Glossary.GlossaryId })
                        }
                    </div>
                </div>
            </div>
            <div class="panel-group">
                @if (!Model.Words.Any())
                {
                    <h2>No words in this glossary!</h2>
                }
                else
                {
                    @for (int i = 0; i < Model.Words.Count; i++)
                    {
                        @:
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 align="left">@Model.Words[i].Term</h2>
                                <div align="right">
                                    @Model.Words[i].UserName, at @Model.Words[i].CreatedAt
                                </div>
                            </div>
                            <div class="panel-body">
                                <b>@Model.Words[i].Term</b>
                                -
                                @Model.Words[i].Definition
                            </div>
                            <div class="panel-footer">
                                @Model.Glossary.Name
                                <div class="pull-right">
                                    @if (user == Model.Words[i].UserId || user==Model.Glossary.GlossaryId)
        {
                            @Html.ActionLink("Edit", "Edit", "Word", new { id = Model.Words[i].WordId }) @:|
                            @Html.ActionLink("View", "View", "Word", new { id = Model.Words[i].WordId }) @:|
                            @Html.ActionLink("Delete", "Delete", "Word", new { id = Model.Words[i].WordId })
}
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>