﻿
<ul class="nav navbar-nav">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

    @if (User.IsInRole("teacher"))
    {
        <li><a asp-area="" asp-controller="Word" asp-action="My">My Words</a></li>
        <li><a asp-area="" asp-controller="Glossary" asp-action="My">My Glossaries</a></li>
        <li><a asp-area="" asp-controller="Glossary" asp-action="Granted">Granted Glossaries</a></li>
        <li><a asp-area="" asp-controller="Glossary" asp-action="Glossaries">Glossaries</a></li>
    }
    @if (User.IsInRole("student"))
    {
        <li><a asp-area="" asp-controller="Word" asp-action="My">My Words</a></li>
        <li><a asp-area="" asp-controller="Glossary" asp-action="Granted">Granted Glossaries</a></li>
        <li><a asp-area="" asp-controller="Glossary" asp-action="Glossaries">Glossaries</a></li>
    }
    @if (User.IsInRole("admin"))
    {
        <li><a asp-area="" asp-controller="Word" asp-action="My">My Words</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Glossaries
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-area="" asp-controller="Glossary" asp-action="My">My Glossaries</a></li>
                <li><a asp-area="" asp-controller="Glossary" asp-action="Granted">Granted Glossaries</a></li>
                <li><a asp-area="" asp-controller="Glossary" asp-action="Glossaries">Glossaries</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Admin Panel
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-area="" asp-controller="User" asp-action="Index">A-Users</a></li>
                <li><a asp-area="" asp-controller="Course" asp-action="Index">A-Courses</a></li>
            </ul>
        </li>
    }
    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
</ul>
